body {
  margin: 0px;
  background: rgb(235, 235, 235);
}

main {
  max-width: 400ch;
}

.picture-berlin {
  border: 40px solid white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50vw;
}
